    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        background-color: rgb(231, 218, 199);
        /* background-image: url(images/Colorful-Circle-Simple-Background-Image-1.jpg);*/
        background-size: cover;
    }
    
    header {
        background-color: rgb(147, 112, 71);
        margin: 0px;
        width: 100%;
        height: 70px;
        border: 3px solid black;
    }
    
    nav h2 {
        display: inline-block;
        margin-left: 10px;
        font-family: 'Ephesis', cursive;
        padding-top: 20px;
        font-size: x-large;
    }
    
    nav li {
        font-family: 'Ephesis', cursive;
        float: right;
        font-size: x-large;
        display: inline-block;
        margin-left: 15px;
        padding-top: 20px;
    }
    
    a:visited {
        color: black;
    }
    
    aside {
        float: left;
        width: 300px;
        height: 600px;
        display: inline-block;
        padding: 23px;
        background-color: black;
        color: white;
    }
    
    aside h2 {
        font-family: 'Ephesis', cursive;
        margin-bottom: 30px;
    }
    
    aside p {
        margin-top: 8px;
    }
    
    aside img {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        float: right;
        margin-top: -50px;
    }
    
    main {
        margin-top: 50px;
        padding: 50px;
    }
    
    .projects {
        text-align: center;
        font-family: 'Ephesis', cursive;
        margin-bottom: 50px;
        text-decoration: underline;
    }
    
    article {
        padding-left: 300px;
        margin-bottom: 20px;
    }
    
    .project {
        font-family: 'Ephesis', cursive;
        text-decoration: underline;
    }
    
    footer {
        margin-top: 150px;
        margin-left: 85%;
    }
    
    footer section h3 {
        font-family: 'Ephesis', cursive;
    }